#b2 {
	margin-left: 200px;
	position: fixed;
	min-width: 50vw;
	max-width: 50vw;
	width: 70%;
}
.container {
	white-space: nowrap;
}
.li_button_left{
	border-left: 1px solid #b94a48;
}
.li_button_right{
	border-right: 1px solid #b94a48;
}
#textarea {
	position: relative;
	height: 72vh;
	width: 70vw;
	z-index: 1000;
}
textarea {
	resize: both;
}
#fileNameLabel {
	margin-right: 20px;
}
.codelines {
	position: absolute;
}
.lines {
	background-color: #f5f5f5;
}
.btn-info {
	border-radius: 15px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1vh;
	margin-bottom: 1vh;
	height: 50px;
	/* width: 7vw;
	height: 6vh; */
	text-align: center;
}
.button {
	top: 0.00001vh;
}
.navbar-brand {
	margin-top: 1vh;
}
a{
	position: absolute;
	top: -1vh;
}