body {
	overflow-x: hidden;
}
#textareaDiv, #textareaDiv2 {
	width: 90%;
	margin-left: 5%;
}
#textarea, #textarea2 {
	margin-top: 1vh;
	resize: vertical;
}
#loading, #loading2 {
	width: 15%;
	margin-left: 42.5%;
}
#loading-small, #loading-small2 {
	width: 3%;
	display: none;
}
#loadingDiv, #loadingDiv2 {
	display: none;
}
#fileName, #fileName2 {
	display: inline;
}
#fileListDiv {
  color: inherit;
  text-decoration: inherit;
}