@font-face{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
::-webkit-input-placeholder{
	font-size: 14px;
	color: #d0cdfa;
}
.inputText{
	line-height: 30px;
}
body{
	background: #448ed3;
	font-family: "Lato";
}
.wrap{
	width: 300px;
	height: auto;
	margin: auto;
	margin-top: 12%;
}
.avatar{
	width: 100%;
	margin: auto;
	width: 78px;
	border-radius: 120px;
	height: 78px;
	background: #448ed3 ;
	position: relative;
	bottom: -18px;
}
.avatar img{
	width: 66px;
	height: 66px;
	border-radius: 120px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}
.wrap input{
	border: none;
	background: #fff;
	font-family: Lato;
	font-weight: 840;
	display: block;
	height: 48px;
	outline: none;
	width: calc(100% - 28.8px) ;
	margin: auto;
	padding: 7.2px 14.4px 7.2px 14.4px;
}
.bar{
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i{
	width: 95%;
	margin: auto;
	height: 1px;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"]{
	border-radius: 8.4px 8.4px 0px 0px ;
}
.wrap input[type="password"]{
	border-radius: 0px 0px 0px 0px ;
}
#password2 {
	border-radius: 0px 0px 8.4px 8.4px;	
}
.forgot_link{
	color: #83afdf ;
	color: #83afdf;
	text-decoration: none;
	font-size: 13.2px;
	position: relative;
	left: 231.6px;
	top: -43.2px;
}
.wrap button{
	width: 100%;
	border-radius: 8.4px;
	background: #b6ee65;
	text-decoration: center;
	border: none;
	color: #51771a;
	margin-top: -6px;
	padding-top: 16.8px;
	padding-bottom: 16.8px;
	outline: none;
	font-size: 15.6px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}
#registerForm{
	text-align: center;
}
#forgot{
	font-size: 70%;
}