<!DOCTYPE html>
<html>
<head>
	<title>Cloude - List</title>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mobile_home_style.css">
	<link rel="stylesheet" type="text/css" href="../../css/mobile_list_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/app.js"></script>
	<script type="text/javascript" src="../../js/list.js"></script>
	<script type="text/javascript" src="../../js/md5.js"></script>
	<script type="text/javascript" src="../../js/files.js"></script>
</head>
<body ng-app="cloude">
	<div ng-controller="ListController as list" id="ng-controller">
		<!-- Navbar START -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Cloude</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/home">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/new">New file</a></li>
								<li><a href="javascript:noPermission();">Save file</a></li>
								<li class="active"><a href="/list">Open file</a></li>
								<li><a href="javascript:shareFile();">Share file</a></li>
								<li><a href="javascript:noPermission();" id="aCompileFile">Compile/Interpret</a></li>
							</ul>
						</li>
						<li class="active"><a href="/list">List</a></li>
						<li><a href="/shared">Shared</a></li>
						<li><a href="#">Preferences</a></li>
						<li><a href="#">Link</a></li>
					</ul>
					<ul class="nav navbar-nav" style="float: right; margin-right: 7vw;">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> {{data.username}}</a>
							<ul class="dropdown-menu dropdown-menu.pull-left">
								<li><a href="/logout?referer=m">Log out</a></li>
								<li role="separator" class="divider"></li>
								<!-- <li><a href="#">Link</a></li> -->
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Navbar END -->
	<div class="form-group list" id="fileListDiv">
		<div class="form-group"><h3>Your files:</h3></div>
		<div class="list-group" id="fileList"><img src="../loading.gif" id="loading"></div>
	</div>

	<script type="text/javascript">

		function loaded() {
			var data = {code: 123};
			$.ajax({
				type: "POST",
				url: "/returnInfo",
				data: data,
				success: function (data) {
					var username = data.data.username;
					var sessid = data.data.sessid;
					var crypted = $.md5(username);

					var data2 = {sessid: sessid, username: username, crypted: crypted};
					$.ajax({
						type: "POST",
						url: "/api/list",
						data: data2,
						success: function (data2) {
							document.getElementById("fileList").innerHTML = "";
							fillList(data2, crypted);
						}
					})

				}
			})

			function fillList (data, crypted) {
				var tmp = "";
				for (var i = 0; i < data.length; i++){
						//tmp = '<a href="javascript:openFile(\'' + data[i]["unique_id"] + '\');" class="list-group-item">' + data[i]["name"] + '.' + data[i]["extension"] + '</a>';
						tmp = '<div class="list-group-item" id="list"><a href="javascript:openFile(\'' + data[i]["unique_id"] + '\');">' + data[i]["name"] + '.' + data[i]["extension"] + '</a><a href="javascript:deleteFile(\'' + data[i]["unique_id"] + '\', \'' + crypted + '\');"><span class="pull-right glyphicon glyphicon-remove"></span></a></div>';
						$("#fileList").append(tmp);
					}
				}
			}
		</script>
	</div>
</body>
</html>