<!DOCTYPE html>
<html>
<head>
	<title>Cloude - Login</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../css/mobile_login_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/app.js"></script>
	<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body ng-app="cloude">
	<div ng-controller="LoginController as login">
		<div class="wrap">
			<div class="avatar">
				<img src="../man.jpg">
			</div>
			<form ng-submit="login.send(username, password)">
				<input type="text" placeholder="username" required name="username" height="30" class="inputText" ng-model="username" id="username">
				<div class="bar">
					<i></i>
				</div>
				<input type="password" placeholder="password" required name="password" class="inputText" ng-model="password" id="password">
				<!-- <a href="" class="forgot_link">&nbsp;</a> -->
				<button id="formButton">Sign in</button>
			</form><br>
			<form id="registerForm">
				<a href="register"><p id="signup">Sign Up</p></a>
			</form>
		</div>
	<div>
</body>
</html>