<!DOCTYPE html>
<html>
<head>
	<title>Cloude - New file</title>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mobile_home_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/app.js"></script>
	<script type="text/javascript" src="../../js/new.js"></script>
	<script type="text/javascript" src="../../js/files.js"></script>
	<script type="text/javascript" src="../../js/md5.js"></script>
	<meta charset="utf-8">
	<!-- <script type="text/javascript" src="../../js/io.js"></script>
	<script type="text/javascript" src="../../js/md5.js"></script> -->
</head>
<body ng-app="cloude">
	<div ng-controller="NewController as new">
		<!-- Navbar START -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Cloude</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/home">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="active"><a href="/new">New file</a></li>
								<li><a href="javascript:saveFile();" id="aSaveFile">Save file</a></li>
								<li><a href="/list">Open file</a></li>
								<li><a href="javascript:noPermission();" id="aShareFile">Share file</a></li>
								<li><a href="javascript:noPermission();" id="aCompileFile">Compile/Interpret</a></li>
							</ul>
						</li>
						<li><a href="/list">List</a></li>
						<li><a href="/shared">Shared</a></li>
						<li><a href="#">Preferences</a></li>
						<li><a href="#">Link</a></li>
					</ul>
					<ul class="nav navbar-nav" style="float: right; margin-right: 7vw;">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> {{data.username}}</a>
							<ul class="dropdown-menu dropdown-menu.pull-left">
								<li><a href="/logout?referer=m">Log out</a></li>
								<li role="separator" class="divider"></li>
								<!-- <li><a href="#">Link</a></li> -->
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Navbar END -->
		<div id="sessid" style="display: none;"></div>
		<div id="crypted" style="display: none;"></div>

		<div class="form-group" id="textareaDiv2">
			<div><label id="fileNameLabel"><strong>File name: </strong></label><input class="form-control" type="text" id="fileName2">&nbsp;&nbsp;<img src="../loading.gif" id="loading-small"></div>
			<div class="list-group" id="loadingDiv2"><img src="../loading.gif" id="loading2"></div><label id="fileNameLabel"><strong>Content: </strong></label><textarea id="textarea2" class="form-control" rows="15"></textarea>
		</div>
	</div>

	<script type="text/javascript">
		function loaded() {
			data = {code: 123};
			$.ajax({
				type: "POST",
				url: "/returnInfo",
				data: data,
				success: function (data) {
					var username = data.data.username;
					var sessid = data.data.sessid;

					var crypted = $.md5(username);
					document.getElementById("sessid").innerHTML = sessid;
					document.getElementById("crypted").innerHTML = crypted;
				}
			})
		}
		$(document).delegate("#textarea2", "keydown", function(e) {
			var keyCode = e.keyCode || e.which;

			if (keyCode == 9) {
				e.preventDefault();
				var start = $(this).get(0).selectionStart;
				var end = $(this).get(0).selectionEnd;

				// set textarea value to: text before caret + tab + text after caret
				$(this).val($(this).val().substring(0, start)
					+ "\t"
					+ $(this).val().substring(end));

				// put caret at right position again
				$(this).get(0).selectionStart =
				$(this).get(0).selectionEnd = start + 1;
			}
		});

	</script>
</body>
</html>