<!DOCTYPE html>
<html>
<head>
	<title>Cloude - Register</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../css/mobile_register_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/app.js"></script>
	<script type="text/javascript" src="../../js/register.js"></script>
</head>
<body ng-app="cloude">
	<div ng-controller="RegisterController as register">
		<div class="wrap">
			<div class="avatar">
				<img src="../man.jpg">
			</div>
			<form ng-submit="register.send(username, password1, password2)">
				<input type="text" placeholder="username" required name="username" height="30" class="inputText" ng-model="username" id="username">
				<div class="bar">
					<i></i>
				</div>
				<input type="password" placeholder="password" required name="password" class="inputText" ng-model="password1" id="password1">
				<div class="bar">
					<i></i>
				</div>
				<input type="password" placeholder="re-enter password" required name="password" class="inputText" ng-model="password2" id="password2"><br>
				<button id="formButton">Sign up</button>
			</form><br>
			<form id="registerForm">
				<a href="login"><p id="signin">Sign in</p></a>
			</form>
		</div>
	</div>
</body>
</html>